.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ContainerCard{
  background-color: blanchedalmond;
  margin: 10%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TaskCard {
  background-color: aqua;
  overflow: hidden;
  margin:1vh;
}

.Filter {
  background-color: aquamarine;
}

