.App {
  background-color: #3e4450;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ContainerCard{
  background-color: blanchedalmond;
  margin: 10%;
  min-width: 500px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.TaskCard {
  background-color: aqua;
  margin:1vh;
  display: block;
  transition: height 1s;
}

.Filter {
  background-color: aquamarine;
}

