.App {
  background-color: #E1E5EA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #FAF3F3;
}

.ContainerCard{
  background-color: #A7BBC7;
  margin-top: 10vh;
  margin-bottom: 5vh;
  min-width: 500px;
  width:30vw;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1vh;
}

.TaskCard {
  background-color: #DA7F8F;
  margin-top:1vh;
  display: block;
  transition: height 1s;
  border-radius: 10px;
  padding: 1vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 6px;

}

.TaskCard .TaskHeader {
  font-size: 3vh;
  word-wrap: break-word;
  
}

.TaskCard .taskDescription{
  font-size: 2vh;
  word-wrap: break-word;
  color: #FAF3F3;
}

.Filter {
  background-color: aquamarine;
  padding:1vh;
  margin-bottom:1vh;
  border-radius: 10px;
}

